google-genai
langgraph
langchain[google-genai]
langchain-google-community
langchain-google-vertexai
langchain-community
python-dotenv
fastapi
uvicorn[standard]
pydantic
rich
pillow
psycopg2-binary
sqlalchemy